*{
    text-align: center;
}

body {
    background-color: #121212;
}

ul {
    display: table;
    margin: 0 auto;
  }

img{
    width:100%;
    max-width: 500px;
}

.maintext{
    font-family: 'Dongle', sans-serif;
    font-weight: 700;
    color:#70a6da;
}

.secondarytext{
    font-family: 'Dongle', sans-serif;
    font-weight: 500;
    color:#d3ecf8;
}

.thirdtext{
    font-family: 'Dongle', sans-serif;
    font-weight: 300;
    color:white;
}

.background{
    background-color: #121212;
}

.tartalom{
    margin: 0 auto;
}

table td{
    border: 2px solid white;
}